body{
    background-color:lightgray;
}

#navbar{
    display: flex;
    justify-content: space-around;
    background-color: white;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 120px;
}

#navbar, a {
    color: lightseagreen;
    font-family: helvetica;
    font-size: 30px;
    text-decoration: none;
}

#welcome-section{
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: lavenderblush;
}

h1{
    display: flex;
    justify-content: space-evenly;
    font-family: Helvetica;
    font-size: 200px;
    color: lightseagreen;
}

img{
    width: 50%;

}

@media screen {
    body {
      width: 75%;
    }
  }
  
  @media print {
    body {
      width: 100%;
    }
  }