body{
    background-color:lightgray;
}

#navbar{
    display: flex;
    justify-content: space-around;
    font-family: helvetica;
    background-color: white;
    position: fixed;
    top: 0px;
    width: 100%;
}

#welcome-section{
    display: flex;
    justify-content: center;
    height: 100vh;
}

@media screen {
    body {
      width: 75%;
    }
  }
  
  @media print {
    body {
      width: 100%;
    }
  }